
body {
    color: rgb(255, 246, 246);
    background: rgb(0, 0, 0);
}
header {
    border-bottom: solid 2px rgb(221, 10, 10);
    font-size: 25px;
    padding: 20px;
    margin: 0ch;
}
section {
    background: rgb(3, 0, 184);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
justify-content: center;
}


.chamada-texto {
margin-right: 5%;
}