
body {
    color: rgb(255, 246, 246);
    background: rgb(0, 0, 0);
}
header {
    border-bottom: solid 2px rgb(0, 255, 64);
    font-size: 25px;
    padding: 20px;
    margin: 0ch;

section {
    background: rgb(12, 219, 133);
    padding-bottom: 100px;
    padding-top: 100px;
}